
.confirm-selected-time {
	margin: 2rem auto .4rem auto  ;
	padding: 1.3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	/*
		Border Box makes it exactly the width, regardless of padding and content size
		DEFAULT: Content Box starts with the given with, THEN adds the padding and content size.
	*/
	box-sizing: border-box;
	background-color: white;
	border: 3px solid var(--medium-blue);
	border-radius: 1rem;
	color: var(--dark-blue);
}

.confirm-day {
	margin: 0;
	padding: 0;
	font-size: 3rem;
	font-weight: 600;
}

.confirm-date {
	margin: 0;
	padding: 0;
	font-size: 2rem;
	font-weight: 600;
}

.confirm-time {
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

.confirm-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  color: var(--dark-blue);
}

.confirm-form h1 {
  margin: 0;
  margin: 1rem;
  padding: 0;
  font-size: 1.90rem;
}

.form-items {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* width: 100%; */
}
.form-title {
  display: flex;
  justify-content: flex-start;
  margin: 1.5rem 0 0.5rem 0;
  font-size: 1rem;
}
.form-input {
  display: flex;
  justify-content: flex-start;
  height: 35px;
  width: 300px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 1rem;
  color: var(--dark-blue);
}
.confirm-btns {
	display: flex;
	justify-content: center;
}

.confirm-btn {
	margin: .4rem;
	padding: .75rem;
	border: 0 solid white;
	border-radius: 5px;
	background-color: red;
	box-sizing: border-box;
	width: calc(150px - .4rem);
	font-size: 1rem;
}

.confirm-btn.btn-blue {
	background-color: var(--medium-blue);
	color: white;
}

.confirm-btn.btn-grey {
	background-color: var(--dark-grey);
	color: white;
}
