.landing-link {
	text-decoration: none;
	margin-top: 3rem;
  background-color: var(--medium-blue);
  padding: 1rem;
  border-radius: 1rem;
  color: white;
}

.landing-subheader {
	margin: 0;
	padding: 0;
	top:56px;
}
