.side-drawer {
	height: 100%;
	background-color: var(--medium-blue);
	box-shadow: 1px 0 7px rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 40%;
	max-width: 400px;
  min-width: 15rem;
	z-index: 200;
	transform: translateX(-100%);
	transition: transform 250ms ease-out;
}

.side-drawer.open {
	transform: translateX(0);
}

.side-drawer h1{
  color: white;
  text-align: center;
  font-weight: 400;
}

.side-drawer ul {
	height: 100%;
  /* margin: 0; */
  padding: 0;
  margin: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.side-drawer li {
	margin: 0.5rem 0;
  /* padding: 1rem; */
}

.side-drawer a {
  color: white;
	text-decoration: none;
  padding: 0.5rem;
	font-size: 1.2rem;
  border-left: 5px solid var(--medium-blue);

}

/* .side-drawer a:hover,
.side-drawer a:active {
	color: #fa923f;
} */

.side-drawer a:focus{
  border-left: 5px solid var(--dark-blue);
}

@media (min-width: 769px) {
	.side-drawer {
		display: none;
	}
}
