/* Toolbar.css */

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 56px;
	background: #2980b9;
}

.navbar-navigation {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 1rem;
}

.navbar-logo a {
	padding-left: 1rem;
	color: white;
	text-decoration: none;
	font-size: 2rem;
}

.spacer {
	/* This takes all available space between
	the logo and the navigation items */
	flex: 1;
}

.navbar-navigation-items ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-navigation-items li {
	padding: 0 0.5rem;
}

.navbar-navigation-items a {
	color: white;
	text-decoration: none;
}

.navbar-navigation-items a:hover,
.navbar-navigation-items a:active {
	color: darkorange;
}

@media (max-width: 768px) {
	.navbar-navigation-items {
		display: none;
	}
}

@media (min-width: 769px) {
	.navbar-toggle-btn {
		display: none;
	}

	.navbar-logo {
		margin-left: 0;
	}
}