@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
	--dark-grey: #7f8c8d;
	--dark-blue: #34495e;
	--medium-blue: #2980b9;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
}

.App {
	height: 100%;
}

.landing-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 56px;
}
