.link-container {
  margin-top: 10rem;
  background-color: red;
}

.link-input {
  min-width: 300px;
  min-height: 50px;
  background-color: red;
  color: red;
}

.button.copy-btn {
  min-width: 300px;
  min-height: 50px;
}
