.link-container {

  /* SIZING */
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 3rem;
  padding: 1rem;

  /* FLEXBOX */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.link-container h2 {
  display: flex;
  justify-content: center;
  color: var(--dark-blue);
}

.interviewer-name {
  margin-left: .5rem;
}

.instructions {
  text-align: center;
  margin-bottom: 2.5rem;
  color: var(--dark-blue);
}

.box-plus-btn {
  display: flex;
  justify-content: center;
}

.link-box {
  min-width: 200px;
  padding: 1rem;
  border: 1px solid var(--medium-blue);
  border-right: 0px solid grey;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: var(--medium-blue);

  outline: 0;
  box-shadow: none !important;
}

.copy-btn {
  width: 3rem;
  background-color: var(--medium-blue);
  color: white;
  border: 1px solid var(--medium-blue);
  border-left: 0px solid rgb(88, 28, 128);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}

.copy-btn:hover {
  border: 1px solid var(--light-blue);
  background-color: var(--light-blue); 
  font-size: 0.75rem;
}

.copy-btn:focus {
  outline: 0;
  box-shadow: none !important;
  border: 1px solid var(--medium-dark-blue);
  background-color: var(--medium-dark-blue);
}
