:root {
	--dark-grey: #7f8c8d;
	--dark-blue: #34495e;
	--medium-blue: #2980b9;
}

.top-bar {
	display: flex;
	justify-content: space-between;
	height: 50px;
	width: 100%;
	margin-bottom: 2rem;
}

.top-bar-item {
	padding: 2rem;
	font-size: 1.3rem;
}

.top-bar-item.grey {
	color: var(--dark-grey);
}

.top-bar-item.blue {
	color: var(--medium-blue);
}

.top-bar-item.right-text {
	text-align: right;
}

.dashboard {
	width: 100%;
	height: 100%;
}

.client-dashboard {
	top: 56px;
}

.top-bar {
	top: 56px;
}

.dashboard-title {
	width: 100%;
	text-align: center;
	font-weight: 600;
	font-size: 1.6rem;
	color: var(--dark-blue);
}

.back-btn {
	position: relative;
	z-index: 100;
	top: 26.5rem;
	width: 30%;
	border: 2px solid var(--medium-blue);
	background-color: var(--medium-blue);
	color: white;
	border-radius: 2rem;
	font-size: 1.5rem;
	padding: 0.75rem;
	cursor: pointer;
}


@media (max-width: 768px) {
	.day-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.day {
		margin: 0.5rem;
	}
}
