:root {
	--dark-grey: #7f8c8d;
	--dark-blue: #34495e;
	--medium-blue: #2980b9;
}

.top-bar {
	display: flex;
	justify-content: space-between;
	height: 50px;
	width: 100%;
	margin-bottom: 2rem;
	margin-top: 3rem;
}

.top-bar-item {
	padding: 2rem;
	font-size: 1.3rem;
}

.top-bar-item.grey {
	color: var(--dark-grey);
}

.top-bar-item.blue {
	color: var(--medium-blue);
}

.right-text {
	text-align: right;
}

.dashboard-title {
	width: 100%;
	text-align: center;
	font-weight: 600;
	font-size: 1.6rem;
	/*margin-top: 2.3rem;*/
	color: var(--dark-blue);
}

.day-container {
	display: flex;
	justify-content: center;
	margin-top: 3em;
}

.day {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 5px solid var(--medium-blue);
	border-radius: 5rem;
	width: 10rem;
	margin-left: 2.4rem;
	padding: 0.4em 0;
	font-weight: bold;
	font-size: 1.1rem;
	transition: all 250ms;
}

/*.day:hover {*/
	/*transform: scale(1.04);*/
	/*color: #34495e;*/
	/*border-color: #34495e;*/
	/*cursor: pointer;*/
/*}*/

.day p {
	margin: 0;
	padding: 0;
}

.day-text {
	font-size: 2rem;
	font-weight: 600;
	color: var(--dark-blue);
}

.day-date {
}

@media (max-width: 768px) {
	.day-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.day {
		margin: 0.5rem;
	}
}